* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.clear_fix::after {
    display: block;
    clear: both;
    /* ensure some older compatability */
    height: 0;
    font-size: 0;
    content: " ";
    /* extra backup */
    visibility: hidden;
}


/*navigation bar
fixed and always on top
*/

header .nav_bar {
    width: 100%;
    padding: 0 3%;
    min-height: 65px;
    position: fixed;
    margin-bottom: 5px;
    z-index: 10;
    background-color: rgb(231, 231, 231);
}

header nav {
    float: right;
    height: 65px;
    line-height: 65px;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 0em;
}

header nav ul a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: all 0.5s;
}

header nav li {
    font-size: 22px;
    padding-right: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
}

header .active {
    color: #999;
}

.img_circle {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 1%;
    border-radius: 50%;
    height: 60px;
    float: left;
}

header h1 {
    font-family: "Helvetica", sans-serif;
}

header .myNickName {
    /*width: 33%;*/
    float: left;
    text-align: left;
    line-height: 65px;
    color: LightSlateGrey;
    margin: 0 auto;
    padding-left: 5px;
}

header .myName {
    /*width: 33%;*/
    float: left;
    text-align: left;
    line-height: 65px;
    color: LightSlateGrey;
    margin: 0 auto;
    padding-left: 5px;
}


/*Footer*/

footer hr {
    margin-bottom: 12px;
    margin-top: 12px;
}

footer .contact {
    float: left;
    text-align: left;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}


/*index.html*/


/*if you are in a phone or tablet for the cover pic*/

header .cover_pic_parallax {
    /*padding-top: 90px;*/
    background-image: url('../images/cover-pic21.jpg');
    height: 100vh;
    /*the affect*/
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.shifter {
    padding-top: 70px;
}

main .body {
    display: block;
    height: auto;
    overflow: auto;
    /*position: relative;*/
}

main .left_side {
    float: left;
    width: 50%;
    height: auto;
    padding: 3px;
}

main .right_side {
    float: right;
    width: 50%;
    height: auto;
    padding-right: 3px;
    word-wrap: break-word;
}

main .FAQ h3 {
    padding-left: 5%;
    padding-right: 5%;
}

main .FAQ p {
    padding-left: 8%;
}


/*right side bullet points */
main .right_side ul{
    list-style: none;
    padding-left: 5%;
    padding-bottom: 10px;
}
main .right_side .FAQ ul {
    padding-left: 8%;
}



main .right_side ul li:before {
    content: "»";
    padding-right: 10px;
}

main h2 {
    text-align: center;
}




/*logo.html*/

main figure {
    text-align: center;
    padding-top: 5px;
}

main h1 {
    text-align: center;
}

main .draft_1 h2,
.draft_2 h2,
.draft_3 h2,
.future_drafts h2 {
    padding-left: 25px;
    padding-top: 10px;
}

main p {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

main figure img {
    max-width: 80%;
    height: auto;
}


/*slides shows*/

main .slideshow_container {
    max-width: 25%;
    position: relative;
    margin: auto;
}

main .slides,
main .slidesD2,
main .slidesD3 {
    display: none;
    margin: auto;
    max-width: 90%;
    height: auto;
}

main p {
    padding-left: 5%;
    padding-right: 5%;
}

main .prev,
main .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 5px;
    color: black;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/*position next button to right*/

main .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

main .dot,
main .dotD2,
main .dotD3 {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

main .slide_dots {
    text-align: center;
}

main .slide_dots .active,
main .dot:hover,
main .dotD2:hover,
main .dotD3:hover {
    background-color: #717171;
}

main .draft_2 .picked_these {
    max-width: 50%;
    position: relative;
    margin: auto;
}

main .draft_2 .picked_these img {
    margin: 0 auto;
    max-width: 31%;
    height: auto;
    padding-right: 1%;
}

main .future_drafts_in {
    text-align: center;
}

main .future_drafts img {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}


/*projects.html*/

main .proj {
    overflow: auto;
    padding-bottom: 10px;
}


/*desktops*/

@media only screen and (min-width: 1270px) {
    /*Header stuff for all pages, the nav bar*/
    header nav li {
        font-size: 22px;
    }
    /*Header stuff for home page
     the cover pic
     parallax scrolling is cool
    */
    /*index.html*/
    header .cover_pic_parallax {
        background-image: url('../images/cover-pic.jpg');
        /*the affect*/
        background-attachment: fixed;
    }
    main h2 {
        padding-bottom: 10px;
    }
    /*projects.html*/
    main .left {
        float: left;
        width: 69%;
        height: auto;
        padding: 1% 2%;
    }
    main .right {
        float: right;
        width: 69%;
        height: auto;
        padding: 1%;
    }
    main .left_img {
        padding-left: 1%;
        max-width: 29%
        /*margin: 0 auto;*/
    }
    main .right_img {
        max-width: 29%;
        height: auto;
        padding-right: 1%;
    }
}


/*tablets I think*/

@media only screen and (min-width:767px) and (max-width: 1270px) {
    /*header*/
    header .myNickName {
        font-size: 22px;
    }
    header .myName {
        font-size: 22px;
    }
    header nav li {
        font-size: 20px;
    }
    /*Header stuff for home page
     Includes the cover pic
    */
    header .cover_pic_parallax {
        background-image: url('../images/cover-pic.jpg');
        background-attachment: fixed;
    }
    /*index.html*/
    /*projects.html*/
    main .left {
        float: left;
        width: 63%;
        height: auto;
        padding: 1% 2% 1% 5%;
    }
    main .right {
        float: right;
        width: 69%;
        height: auto;
        padding: 1% 5% 1% 1%;
    }
    main .left_img {
        padding-left: 1%;
        max-width: 29%;
        height: auto;
        /*margin: 0 auto;*/
    }
    main .right_img {
        max-width: 29%;
        height: auto;
        padding-right: 1%;
    }
}


/*phones*/

@media only screen and (min-width:600px) and (max-width: 767px) {
    /*header*/
    header .myNickName {
        font-size: 18px;
    }
    header .myName {
        font-size: 18px;
        padding-left: 5px;
    }
    header nav li {
        font-size: 14px;
        padding-right: 2px;
    }
    .img_circle {
        margin-left: 3%;
    }
    /*index.html*/
    main .left_side {
        float: left;
        width: 100%;
        height: auto;
        padding: 3px;
    }
    main .right_side {
        float: right;
        width: 100%;
        height: auto;
        padding-right: 3px;
        word-wrap: break-word;
    }
    /*projects.html*/
    main .left {
        width: 100%;
        height: auto;
        padding: 1%;
    }
    main .right {
        width: 100%;
        height: auto;
        padding: 1%;
        margin: 0 auto;
    }
    main .left_img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
    main .right_img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
    /*logo html page*/
    main .prev,
    main .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 0px;
        color: black;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
}


/*even older phones*/

@media only screen and (max-width:600px) {
    /*header*/
    header .myNickName {
        font-size: 15px;
    }
    header .myName {
        font-size: 15px;
        padding-left: 5px;
    }
    header nav li {
        font-size: 12px;
        padding-right: 2px;
    }
    header .nav_bar {
        width: 100%;
        padding: 0 1%;
        min-height: 65px;
        position: fixed;
        margin-bottom: 5px;
        z-index: 10;
        background-color: rgb(231, 231, 231);
    }
    .img_circle {
        margin-left: 1%;
    }
    /*index.html*/
        main .left_side {
        float: left;
        width: 100%;
        height: auto;
        padding: 3px;
    }
    main .right_side {
        float: right;
        width: 100%;
        height: auto;
        padding-right: 3px;
        word-wrap: break-word;
    }
    /*projects.html*/
    main .left {
        width: 100%;
        height: auto;
        padding: 1%;
    }
    main .right {
        width: 100%;
        height: auto;
        padding: 1%;
        margin: 0 auto;
    }
    main .left_img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
    main .right_img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
    /*logo html page*/
    main .prev,
    main .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 0px;
        color: black;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
}
