    body,
    html {
        background-color: rgb(231, 231, 231);
        width: 100%;
        height: 100%;
        font-family: "Open Sans", sans-serif;
    }
    
    * {
        /*border box will not add extra dimensions to your width/height when you add padding or border MARGINS STILL NEED TO BE CALCULATED*/
        -webit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*optimze for mobile first*/
    /*for header*/
    header h1,
    main h2 {
        font-family: "Helvetica", sans-serif;
    }
    
    .img_circle {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 1%;
        border-radius: 40%;
        height: 60px;
        float: left;
    }
    
    .clear_fix::after {
        display: block;
        clear: both;
        /* ensure some older compatability */
        height: 0;
        font-size: 0;
        content: " ";
        /* extra backup */
        visibility: hidden;
    }
    
    header .nav_bar {
        width: 100%;
        padding: 0 3%;
        max-height: 70px;
        position: fixed;
        margin-bottom: 5px;
        z-index: 10;
        background-color: rgb(231, 231, 231);
    }
    
    header .myNickName, header .myName {
        /*width: 33%;*/
        float: left;
        text-align: left;
        line-height: 40px;
        color: LightSlateGrey;
        margin: 0 auto;
        padding-left: 1%;
        padding-right: 5%;
        font-size: 1.5em;
    }
    
    .hamburger_icon {
        /*height: 3.0em;*/
        width: 40px;
        float: right;
    }
    /*override padding for hamburer icon*/
    .navbar-nav li a {
        padding: 10px;
        background-color: transparent;
    }
    
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus, .nav>li>a:hover{
        background-color: transparent;
    }

    .navbar-nav .open .dropdown-menu {
        float: right;
        background-color: #fff;
    }

    header h1,
    main h2 {
        font-weight: bold;
    }

    header li {
        text-align: center;
    }
    
    header .cover_pic_parallax {
        /*padding-top: 90px;*/
        background-image: url('../images/cover-pic.jpg');
        height: 100vh;
        /*the affect*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    header #arrow_bounce {
        width: 3%;
        height: auto;
        position: relative;
        top: 90vh;
        left: 95vw;
    }
    
    header #arrow_bounce i {
        color: white;
        text-decoration: none;
    }
    /*end for header*/

/*larger phones + tablets 2 items per row*/
    @media all and (min-width:  768px){
         header .myNickName, header .myName {
            line-height: 60px;
            font-size: 2em;
            padding-right: 0%;
        }
    }
        /*desktops*/
    @media all and (min-width:  1024px){
        header .myNickName, header .myName {
            line-height: 60px;
            font-size: 3em;
            padding-right: 0%;
        }    
    }