/*from index.html*/
/*mobile first, then so on*/
/*main body*/
    main h1 {
        display: block;
        text-align: center;
        font-size: 2em;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
        
    .polaroid {
        max-width: 250px;
        height: auto;
        display: inline-block;
        padding: 0px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        background-color: white;
        color: black;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .polaroid img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        /*height: 200px;*/
        padding-bottom: 10px;
    }
    
    main .polaroid h2 {
        /*position: absolute;*/
        text-align: center;
        /*width: 100%;
		bottom: 0px;
		color: #888;*/
    }

    /*flex it up*/
    /*will be used for the polariods on this page */
    /*and on the projects page*/
    main .container div.flex-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    main .container div.flex-item{
        min-width: 200px;
        flex: 1 1 100px;
    }
    
    main .container .flex-item a{
        text-decoration: none;
        color: black;
    }

     main .container .flex-item a:hover{
        color: green;
     }

    main .container .flex-item a:hover img{
        opacity: 0.5;
     }

   

    /*coming from about.html*/
    main div.info,
    main div.faq {
        padding-top: 75px;
        height: auto;
    }
    
    main .center {
        text-align: center;
    }
    
    main div .some_spacing {
        padding: 0% 2% 0% 2%;
    }
    
    main .left_side {
        float: left;
        width: 100%;
        height: auto;
        padding: 0% 3% 0% 3%;
    }
    
    main .right_side {
        float: right;
        width: 100%;
        height: auto;
        padding: 0% 3% 0% 3%;
        word-wrap: break-word;
    }
    /*skills bars*/
    
    main .skill_bars {
        list-style: none;
        padding: 0% 1.5% 0% 1.5%;
        /*margin: 6rem 0 3rem;*/
    }
    
    main .skill_bars li {
        height: 10px;
        background: #a1a1a1;
        width: 100%;
        margin-bottom: 50px;
        /*position: relative;*/
    }
    
    main .skill_bars .progress_bar {
        background: #313131;
        position: relative;
        height: 100%;
    }
    
    main .skill_bars .progress_bar span {
        position: absolute;
        right: 0;
        top: 25px;
        display: block;
        color: white;
        line-height: 1;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;
    }
    
    main .skill_bars .progress_bar span::after {
        position: absolute;
        left: 50%;
        top: -10px;
        margin-left: 5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid #313131;
        content: "";
    }
    
    main .skill_bars li .percent02 {
        width: 2%;
    }
    
    main .skill_bars li .percent40 {
        width: 40%;
    }
    
    main .skill_bars li .percent65 {
        width: 65%;
    }
    
    main .skill_bars li .percent75 {
        width: 75%;
    }
    
    main .skill_bars li .percent80 {
        width: 80%;
    }
    
    main .skill_bars li .percent85 {
        width: 85%;
    }
    
    main .skill_bars li .percent90 {
        width: 90%;
    }
    
    main .skill_bars li .percent95 {
        width: 95%;
    }

    /*qualifications and experience*/
    main div.experience{
    	/*min-height: 100px;*/
    }

    /*faq*/

    main .faq h3{
    	text-align: left;
    	font-weight: bold;
    }

    main .faq p{
    	text-align: left;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 18px;
    }

    main .faq ul{
    	list-style: none;
    }
    main .faq li{
    	text-align: left;
    	font-size: 18px;
    }
    main .faq li:before{
    	content: "»";
    	padding-right: 10px;
    }
	
	/*ask your own*/
	main .ask_away{
		padding-top: 1%;
		padding-bottom: 2%;
		background-color: #d1d2d3;
		height: auto;
		text-align: center;
	}

    main .ask_away .emailForm{
		width: 50%;
		margin: 0 auto;
    }

    main .ask_away .mailme{
    	border:1px solid #aaa;
    }
    
	main .ask_away input, main .ask_away textarea{
		width: 100%;
	}

    @media all and (min-width: 768px) {
    	/*larger phones + tablets 2 items per row*/
         main .container div.flex-row{
            align-items: left;
        }

        main .container div.flex-item{
            min-width: 40%;
            flex: 1 1 100px;
        }
        /*left and right sides*/
        main .left_side {
            float: left;
            width: 50%;
            height: auto;
            padding: 2% 3% 2% 3%;
        }
        main .right_side {
            float: right;
            width: 50%;
            height: auto;
            padding: 2% 3% 2% 3%;
            word-wrap: break-word;
        }
        /*for the form on faq*/
        main .ask_away input, main .ask_away textarea{
			width: 50%;
		}
    }
    /*desktops*/
    
    @media all and (min-width: 1024px) {
    	main h1 {
            font-size: 3em;
        }   
        main .container div.flex-row{
            align-items: left;
        }

        main .container div.flex-item{
            min-width: 20%;
            flex: 1 1 100px;
        }
        /*left and right sides*/
        main .left_side {
            float: left;
            width: 50%;
            height: auto;
            padding: 2% 3% 1% 5%;
        }
        main .right_side {
            float: right;
            width: 50%;
            height: auto;
         	padding: 2% 5% 1% 3%;
            word-wrap: break-word;
        }
        /*for the form on faq*/
        main .ask_away input, main .ask_away textarea{
			width: 40%;
		}
    }